h1 {text-align: center;}

body{
  font-family: "Arial" sans-serif, "Helvectica", sans-serif;
  background-image: linear-gradient(0deg, #dbe4f6, #ebfffc);
  color: #303030;

  margin-left:  7.5em;
  margin-right: 7.5em;
  margin-top: 1em;
  margin-bottom: 2em;
}
